.setPosition {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    padding: 0 !important;
    border-radius: 0px;
    overflow-x: scroll;
    width: 21.5% !important;
}

.position {
    margin: 0 auto !important;
    border-radius: 0px;
    padding-right: 5.5%;

}

#searchDrink {
    background-color: #12c2fd;
    color: white;
    border-color: #12c2fd;
}

.searchHistoryBoxContainer {
    display: flex
}

.searchHistoryBox {
    cursor: pointer;
    border: 1px solid lightgrey;
    padding: 1% 2%;
    flex-grow: 1;
}

.setPosition::-webkit-scrollbar {
    height: 5px;
    background: transparent;
}

.setPosition::-webkit-scrollbar-thumb {
    background: #969292;
    border-radius: 15pt;
}